<div class="overflow-scroll max-h-[500px]">
    <div class="w-fit mx-auto text-center mb-4">
        <h3 class="text-2xl mb-4">Visites par Total / Jour / Semaine / Mois :
            {% for count in logCount %}
                {{ count }} {% if not loop.last %}/ {% else %} -- {% endif %}
            {% endfor %}
            {% for count in libCount %}
                {{ count }} {% if not loop.last %}/ {% endif %}
            {% endfor %}
        </h3>
    <a href="?route=logout" class="text-blue-500">Leave</a>
    </div>
    <table class="min-w-full bg-white shadow-md rounded-xl border border-gray-300 max-h-[500px] overflow-scroll text-center">
        <thead>
        <tr class="bg-blue-gray-100 text-center text-gray-700">
            <th class="py-3 px-4">IP Address</th>
            <th class="py-3 px-4">Date and Time</th>
            <th class="py-3 px-4">Clicked?</th>
        </tr>
        </thead>
        <tbody class="text-blue-gray-900">

        {% for logs in getLogs %}
            <tr class="border-b border-blue-gray-200">
                <td class="py-3 px-4">{{ logs.getConnectionIp == "83.134.101.191" ? "Lee" : logs.getConnectionIp }}</td>
                <td class="py-3 px-4">{{ logs.getConnectionTime }}</td>
                <td class="py-3 px-4">{{ logs.isConnectionLibrel ? 'True' : 'False' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>